@font-face {
  font-family: ralewayregular;
  src: url(https://kit.fontawesome.com/2897f175fe.js);
}

body {
  font-family: ralewayregular, arial, serif;
  max-width: 1440px;
  margin: auto;
  width: fit-content;
}

#blockpage {
  padding-left: 20px;
  padding-right: 20px;
}

h1,
h2 {
  font-weight: bold;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 30px 10px 30px;
  padding-top: 40px;
}

#ancre {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#logo img {
  width: 100px;
  height: 50px;
  margin-left: -10px;
}

#ancre {
  padding-right: 30px;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav li {
  margin-right: 45px;
}

nav a {
  color: black;
  text-decoration: none;
}

nav a:hover {
  color: #0065fc;
  border-top: 5px solid #0065fc;
  padding-top: 63px;
}

#inscription {
  color: #0065fc;
  font-weight: bold;
  padding-top: 16px;
}

/*blockresearch*/

#slogan {
  display: flex;
  flex-direction: column;
  color: black;
  font-size: 85%;
}

#slogan h1 {
  margin-bottom: -5px;
}

#slogan p {
  margin-bottom: -2px;
}

form {
  display: flex;
  border: 1px solid #f2f2f2;
  border-radius: 10px;
  width: 370px;
  height: 42px;
  margin-top: 20px;
  margin-bottom: 30px;
}

#map {
  border: 1px solid #f2f2f2;
  border-radius: 8px 0px 0px 8px;
  background-color: #f2f2f2;
  text-align: center;
  padding-top: 10px;
  width: 41px;
  height: 30px;
}

input {
  border: none;
  width: 220px;
  height: 40px;
  padding-left: 10px;
  font-weight: bold;
}

#button {
  border: none;
  background-color: #0065fc;
  border-radius: 0px 10px 10px 0px;
  color: white;
  width: 110px;
  height: 43px;
  font-weight: bold;
}

#search {
  display: none;
}

/*Filtres*/

#filtres {
  display: flex;
  flex-direction: row;
  font-weight: bold;
}

#filtres h2 {
  display: flex;
  font-size: small;
  font-weight: bold;
  align-items: center;
}

#filtres ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

#filtres li {
  padding-right: 20px;
  border: 2px solid #f2f2f2;
  border-radius: 30px;
  height: 38px;
  margin-right: 20px;
}

#filtres a {
  color: black;
  text-decoration: none;
  text-align: center;
}

#filtres i {
  color: #0065fc;
  border: 1px solid #deebff;
  border-radius: 30px;
  background-color: #deebff;
  width: 38px;
  height: 29px;
  margin-right: 10px;
}

/*Icones Filtres*/

#eco,
#child,
#heart,
#pet {
  text-align: center;
  padding-top: 7px;
}

/*Effets hover*/

#filtres li:hover {
  background-color: #0065fc;
  color: white;
}

#filtres i:hover {
  color: #0065fc;
}

/*Infos*/

#info {
  font-size: small;
}

#logo-info {
  color: #0065fc;
  border: 2px solid #f2f2f2;
  border-radius: 20px;
  width: 15px;
  height: 20px;
  margin-right: 10px;
  padding: 5px 0px 0px 10px;
}

/*Blockpage*/

#blockpage {
  padding-top: 30px;
}

#heber_pop {
  display: flex;
  flex-direction: row;
}

.main {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

/*Block Hebergement*/

#blockheber {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  border-radius: 10px;
  margin-right: 35px;
  width: 65%;
  padding-bottom: 50px;
}

#blockheber h2 {
  display: flex;
  font-size: 120%;
  padding-left: 40px;
  padding-top: 25px;
}

#blockheber a {
  text-decoration: none;
  color: black;
}

#blockheber strong {
  font-weight: bold;
}

#blockheber img {
  object-fit: cover;
}

#frameblock {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: -5px;
}

#frameblock figure {
  width: 226px;
  height: 180px;
  border: 1px solid white;
  border-radius: 20px;
  box-shadow: 1px 1px 6px #7a7d7f;
}

.frame {
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
  width: 31%;
}

#afficherplus p {
  font-weight: bold;
  padding-left: 50px;
  padding-bottom: 20px;
  margin-bottom: -30px;
}

/*Taille des photos*/

#photo_fig1,
#photo_fig2,
#photo_fig3,
#photo_fig4,
#photo_fig5,
#photo_fig6 {
  width: 220px;
  height: 110px;
  border: 3px solid white;
  border-radius: 20px 20px 0 0;
}

/*Taille des légendes*/

#legend1,
#legend2,
#legend3,
#legend4,
#legend5,
#legend6 {
  width: 210px;
  height: 62px;
  border: 3px solid white;
  border-radius: 0 0 20px 20px;
  color: black;
  padding-left: 10px;
  margin-top: -6px;
  background-color: white;
}

/*Espacement des étoiles*/

#fig1 i,
#fig3 i,
#fig4 i,
#fig5 i {
  padding-top: 8px;
}

#fig2 i,
#fig6 i {
  color: #0065fc; /*Toutes les étoiles sont bleues*/
  padding-top: 8px;
}

/*icônes bleues hebergements*/

#fig1 span,
#fig3 span,
#fig4 #sblue,
#fig5 span {
  color: #0065fc;
}

/*icônes grises hebergements*/

#gray1,
#gray2,
#sgray,
#gray4 {
  color: #f2f2f2;
}

/*Block Les plus populaires */

aside {
  background-color: #f2f2f2;
  border-radius: 10px;
  width: 30%;
  padding-top: 20px;
}

aside img {
  object-fit: cover;
}

#titre_aside {
  display: flex;
  flex-direction: row;
}

#blockpopular h2 {
  display: flex;
  font-size: 120%;
  margin-right: 110px;
  margin-left: 45px;
}

#blockpopular i {
  margin-left: 2px;
  margin-top: 20px;
}

#blockpopular a {
  text-decoration: none;
  color: black;
  display: flex;
}

#blockpopular strong {
  font-weight: bold;
}

#popcontainer {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-left: 42px;
}

#framepop1,
#framepop2,
#framepop3 {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
  width: 310px;
  height: 130px;
  border: 1px solid white;
  border-radius: 20px;
  box-shadow: 1px 1px 6px #7a7d7f;
}

/*Taille des photos*/

#photo_figpop1,
#photo_figpop2,
#photo_figpop3 {
  width: 120px;
  height: 125px;
  border: 3px solid white;
  border-radius: 20px 0 0 20px;
}

/*Taille des légendes*/

#legendpop1,
#legendpop2,
#legendpop3 {
  width: 175px;
  height: 115px;
  border: 3px solid white;
  border-radius: 0 20px 20px 0;
  color: black;
  padding: 10px 0 0 10px;
  background-color: white;
}

/*Espacement des étoiles*/

#legendpop1 i,
#legendpop3 i {
  margin-top: 40px;
}

#legendpop2 i {
  margin-top: 20px;
}

/*icônes bleues pop*/

#legendpop1 i,
#legendpop2 span,
#legendpop3 span {
  color: #0065fc;
}

/*icônes grises pop*/

#graypop1,
#graypop2 {
  color: #f2f2f2;
}

/*Block Activités*/

#activites {
  font-weight: bold;
}

#activites strong {
  font-size: 95%;
}

#activites h2 {
  display: flex;
  font-size: 120%;
  padding-top: 50px;
  margin-bottom: -5px;
}

#activitycontainer {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding-top: 20px;
  padding-bottom: 50px;
}

#activitycontainer a {
  text-decoration: none;
  color: black;
}

#activites img {
  object-fit: cover;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#figact1 {
  border-radius: 20px;
  width: 286px;
  height: 430px;
  box-shadow: 1px 1px 6px #7a7d7f;
  margin-left: -10px;
  margin-right: -1px;
}

#photo_figact1 {
  width: 286px;
  height: 380px;
  border-radius: 20px 20px 0 0;
}

#legendact1 {
  width: 200px;
  height: 20px;
  border: 3px solid white;
  border-radius: 0 0 20px 20px;
  padding: 10px 0 0 10px;
  margin-bottom: 6px;
  background-color: white;
}

#figact2 {
  border-radius: 20px;
  width: 286px;
  height: 230px;
  box-shadow: 1px 1px 6px #7a7d7f;
  margin-right: -1px;
  margin-bottom: 50px;
}

#photo_figact2 {
  width: 286px;
  height: 180px;
  border-radius: 20px 20px 0 0;
}

#legendact2 {
  width: 200px;
  height: 20px;
  border: 3px solid white;
  border-radius: 0 0 20px 20px;
  padding: 10px 0 0 10px;
  margin-bottom: 6px;
  background-color: white;
}

#figact3 {
  border-radius: 20px;
  width: 286px;
  height: 150px;
  box-shadow: 1px 1px 6px #7a7d7f;
  margin-right: -1px;
  margin-bottom: 20px;
}

#photo_figact3 {
  width: 286px;
  height: 100px;
  border-radius: 20px 20px 0 0;
}

#legendact3 {
  width: 200px;
  height: 20px;
  border: 3px solid white;
  border-radius: 0 0 20px 20px;
  padding: 10px 0 0 10px;
  margin-bottom: 6px;
  background-color: white;
}

#figact4 {
  border-radius: 20px;
  width: 286px;
  height: 430px;
  box-shadow: 1px 1px 6px #7a7d7f;
  margin-right: -1px;
}

#photo_figact4 {
  width: 286px;
  height: 380px;
  border-radius: 20px 20px 0 0;
}

#legendact4 {
  width: 250px;
  height: 20px;
  border: 3px solid white;
  border-radius: 0 0 20px 20px;
  padding: 10px 0 0 10px;
  margin-bottom: 6px;
  background-color: white;
}

#figact5 {
  border-radius: 20px;
  width: 286px;
  height: 180px;
  box-shadow: 1px 1px 6px #7a7d7f;
  margin-right: -1px;
  margin-bottom: 50px;
}

#photo_figact5 {
  width: 286px;
  height: 130px;
  border-radius: 20px 20px 0 0;
}

#legendact5 {
  width: 200px;
  height: 20px;
  border: 3px solid white;
  border-radius: 0 0 20px 20px;
  padding: 10px 0 0 10px;
  margin-bottom: 6px;
  background-color: white;
}

#figact6 {
  border-radius: 20px;
  width: 286px;
  height: 200px;
  box-shadow: 1px 1px 6px #7a7d7f;
  margin-right: -1px;
  margin-bottom: 20px;
}

#photo_figact6 {
  width: 286px;
  height: 150px;
  border-radius: 20px 20px 0 0;
}

#legendact6 {
  width: 200px;
  height: 20px;
  border: 3px solid white;
  border-radius: 0 0 20px 20px;
  padding: 10px 0 0 10px;
  margin-bottom: 6px;
  background-color: white;
}

/*Footer*/

footer {
  background-color: #f2f2f2;
  height: 250px;
}

#footcontainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 40px;
  padding-left: 10px;
}

#footcontainer h3 {
  font-weight: bold;
  margin-left: 39px;
}

#footcontainer ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#footcontainer li {
  margin-right: 220px;
  margin-top: 10px;
}

#footcontainer a {
  text-decoration: none;
  color: black;
}

/*responsive V.mobile*/
@media all and (max-width: 667px) {
  body {
    width: auto;
    margin: 0px;
    padding: 0px;
  }

  #blockpage {
    margin: 0px;
    padding: 0px;
  }

  /*Header*/
  header {
    flex-direction: column;
    margin: 0px;
    padding: 0px;
  }

  #logo {
    margin-top: 15px;
    margin-left: 30px;
  }

  #ancre {
    flex-direction: column-reverse;
    flex-wrap: wrap;
    width: 100%;
    padding-right: 0px;
  }

  #inscription {
    position: absolute;
    top: 20px;
    right: 30px;
  }

  nav {
    width: 100%;
    padding-top: 10px;
  }

  nav ul {
    width: 100%;
    padding: 0px;
  }

  nav li {
    width: 100%;
    border-bottom: 3px solid #f2f2f2;
    padding-bottom: 10px;
    margin: 0px;
    text-align: center;
  }

  nav ul :hover {
    border-bottom: 3px solid #0065fc;
    color: #0065fc;
    padding-bottom: 10px;
    text-align: center;
    margin: 0px;
  }

  nav li :hover {
    border-bottom: none;
  }

  nav a:hover {
    border-top: none;
  }

  /*blockresearch*/

  #blockresearch {
    padding-left: 20px;
    padding-right: 20px;
  }

  #slogan {
    width: 80%;
    text-align: center;
    padding-bottom: 10px;
  }

  #slogan p {
    margin-left: -10px;
  }

  form {
    width: 100%;
    margin-top: 30px;
  }

  #map {
    width: 15%;
  }

  #researchbar {
    width: 80%;
  }

  #button {
    width: 15%;
    border-radius: 10px;
  }

  #button span {
    display: none;
  }

  #search {
    display: block;
  }

  /*bloc filtres*/

  #filtres {
    width: 100%;
    flex-wrap: wrap;
    padding-left: 20px;
    margin-top: -10px;
  }

  #filtres a {
    margin-left: -30px;
  }

  #filtres h2 {
    margin-left: -17px;
    font-size: 17px;
  }

  #filtres ul {
    flex-wrap: wrap;
    margin-top: 5px;
    margin-left: -30px;
  }

  #filtres li {
    margin-bottom: 13px;
  }

  /*Infos*/

  #info {
    width: 80%;
    font-size: 15px;
    padding-left: 30px;
    padding-bottom: 20px;
  }

  #logo-info {
    font-size: 12px;
    margin-left: -43px;
  }

  /* main / heber_pop */

  .main {
    flex-direction: column-reverse;
    width: 100%;
  }

  /*Block Les plus populaires */

  aside {
    width: 100%;
    border-radius: 0;
  }

  #titre_aside {
    margin-left: -20px;
  }

  #titre_aside i {
    font-size: 20px;
    padding-left: 10px;
    margin-top: 17px;
  }

  #popcontainer {
    margin-top: -10px;
  }

  #framepop1,
  #framepop2 {
    width: 100%;
    height: 150px;
    margin-bottom: 20px;
    margin-left: -20px;
  }

  #framepop3 {
    width: 100%;
    height: 150px;
    margin-left: -20px;
  }

  #photo_figpop1,
  #photo_figpop2,
  #photo_figpop3 {
    width: 140px;
    height: 144px;
  }

  #legendpop1,
  #legendpop2,
  #legendpop3 {
    width: 192px;
    height: 135px;
  }

  #legendpop1 i,
  #legendpop3 i,
  #legendpop2 i {
    font-size: 14px;
    margin-top: 60px;
  }

  /*Block Hebergements */

  #blockheber {
    width: 100%;
    background-color: white;
    margin-left: -15px;
    margin-right: 0px;
  }

  #blockheber h2 {
    font-size: 22px;
    margin-bottom: 10px;
  }

  #frameblock {
    flex-direction: column;
    width: 100%;
  }
  #frameblock figure {
    width: 100%;
    height: 200px;
    margin-bottom: -20px;
  }
  .frame {
    width: 320px;
  }

  #fig1,
  #fig2,
  #fig3,
  #fig4,
  #fig5,
  #fig6 {
    width: 300px;
    margin-right: 0px;
  }

  #photo_fig1,
  #photo_fig2,
  #photo_fig3,
  #photo_fig4,
  #photo_fig5,
  #photo_fig6 {
    width: 315px;
    height: 120px;
  }

  #legend1,
  #legend2,
  #legend3,
  #legend4,
  #legend5,
  #legend6 {
    width: 300px;
  }
  #fig1 i,
  #fig2 i,
  #fig3 i,
  #fig4 i,
  #fig5 i,
  #fig6 i {
    margin-top: 5px;
    font-size: 13px;
  }

  #afficherplus {
    margin-top: 8px;
    margin-bottom: -20px;
    font-size: 18px;
  }

  /*Block Activités*/

  #activitycontainer {
    flex-direction: column;
    justify-content: center;
    margin-bottom: -20px;
  }

  #activites h2 {
    font-size: 23px;
    margin-left: 28px;
    margin-top: -10px;
    margin-bottom: 10px;
  }

  #activitycontainer a {
    width: 100%;
    justify-content: center;
  }

  #activites img {
    justify-content: center;
  }

  #photo_figact1,
  #photo_figact2,
  #photo_figact3,
  #photo_figact4,
  #photo_figact5,
  #photo_figact6 {
    height: 135px;
  }

  #act1,
  #act2-3,
  #act4,
  #act5-6 {
    width: 100%;
  }

  #figact1,
  #figact4 {
    margin-top: 0px;
    margin-left: 30px;
    width: 320px;
    height: 190px;
  }

  #figact2,
  #figact3,
  #figact5,
  #figact6 {
    margin-bottom: 30px;
    margin-left: 30px;
    width: 320px;
    height: 190px;
  }

  #legendact1,
  #legendact2,
  #legendact3,
  #legendact4,
  #legendact5,
  #legendact6 {
    font-weight: 350;
    font-size: 15px;
    width: 290px;
    margin-top: 5px;
    margin-left: 5px;
  }

  /*Footer*/

  footer {
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
  }

  #footcontainer {
    width: 100%;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 0px;
  }

  #footcontainer ul {
    width: 315px;
    margin-bottom: 40px;
  }

  #footcontainer li {
    width: 100%;
    margin-top: 12px;
  }
}

/*responsive V.tablet*/

@media all and (min-width: 668px) and (max-width: 1024px) {
  body {
    width: auto;
    margin: 0px;
    padding: 0px;
  }

  #blockpage {
    margin: 0px;
    padding: 0px;
  }

  /*Header*/
  header {
    flex-direction: column;
    margin: 0px;
    padding: 0px;
  }

  #logo {
    margin-top: 15px;
    margin-left: 30px;
  }

  #ancre {
    flex-direction: column-reverse;
    flex-wrap: wrap;
    width: 100%;
    padding-right: 0px;
  }

  #inscription {
    position: absolute;
    top: 20px;
    right: 30px;
  }

  nav {
    width: 100%;
    padding-top: 10px;
  }

  nav ul {
    width: 100%;
    padding: 0px;
  }

  nav li {
    width: 100%;
    border-top: 3px solid #f2f2f2;
    border-bottom: 0.1px dotted black;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0px;
    text-align: center;
  }

  nav ul :active {
    border-top: 3px solid #0065fc;
    color: #0065fc;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    margin: 0px;
  }

  nav li :hover {
    border-bottom: none;
  }

  nav a:hover {
    border-top: none;
  }

  /*blockresearch*/

  #blockresearch {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }

  #slogan {
    width: 100%;
    text-align: center;
    border-bottom: 0.1px dotted black;
    padding-bottom: 25px;
  }

  #slogan p {
    margin-left: -10px;
  }

  form {
    width: 80%;
    margin-top: 30px;
    margin-left: 70px;
  }

  #map {
    width: 12%;
  }

  #researchbar {
    width: 80%;
  }

  #button {
    width: 12%;
    border-radius: 10px;
  }

  #button span {
    display: none;
  }

  #search {
    display: block;
  }

  /*bloc filtres*/

  #filtres {
    width: 98%;
    flex-wrap: wrap;
    padding-left: 15px;
    margin-top: -10px;
  }

  #filtres a {
    margin-left: -30px;
  }

  #filtres h2 {
    margin-left: 10px;
    font-size: 17px;
  }

  #filtres ul {
    flex-wrap: wrap;
    margin-top: 5px;
    margin-left: 0px;
  }

  #filtres li {
    margin-bottom: 13px;
  }
  /*Infos*/

  #info {
    width: 80%;
    font-size: 15px;
    padding-left: 60px;
    padding-bottom: 20px;
  }

  #logo-info {
    font-size: 12px;
    margin-left: -43px;
  }

  /* main / heber_pop */

  .main {
    flex-direction: column-reverse;
    width: 100%;
  }

  /*Block Les plus populaires */

  aside {
    width: 100%;
    border-radius: 0;
  }

  #titre_aside {
    margin-right: 380px;
    flex-direction: row-reverse;
    margin-bottom: 5px;
  }

  #titre_aside i {
    font-size: 20px;
    padding-left: 20px;
    margin-top: 17px;
  }

  #popcontainer {
    margin-top: -10px;
  }

  #framepop1,
  #framepop2 {
    width: 100%;
    height: 165px;
    margin-bottom: 20px;
    margin-left: -20px;
  }

  #framepop3 {
    width: 100%;
    height: 165px;
    margin-left: -20px;
  }

  #photo_figpop1,
  #photo_figpop2,
  #photo_figpop3 {
    width: 300px;
    height: 160px;
  }

  #legendpop1,
  #legendpop2,
  #legendpop3 {
    width: 500px;
    height: 150px;
  }

  #legendpop1 i,
  #legendpop3 i,
  #legendpop2 i {
    font-size: 18px;
    margin-top: 60px;
  }

  /*Block Hebergements */

  #blockheber {
    width: 100%;
    background-color: white;
    margin-left: -15px;
    margin-right: 0px;
  }

  #blockheber h2 {
    font-size: 22px;
    margin-bottom: 20px;
  }

  #frameblock {
    flex-direction: column;
    width: 100%;
  }
  #frameblock figure {
    width: 100%;
    height: 400px;
    margin-bottom: -20px;
  }
  .frame {
    width: 720px;
    height: 400px;
    margin-left: 3px;
    margin-right: 0px;
  }

  #fig1,
  #fig2,
  #fig3,
  #fig4,
  #fig5,
  #fig6 {
    width: 300px;
    height: 300px;
    margin-right: 0px;
  }

  #photo_fig1,
  #photo_fig2,
  #photo_fig3,
  #photo_fig4,
  #photo_fig5,
  #photo_fig6 {
    width: 714px;
    height: 320px;
  }

  #legend1,
  #legend2,
  #legend3,
  #legend4,
  #legend5,
  #legend6 {
    width: 300px;
  }
  #fig1 i,
  #fig2 i,
  #fig3 i,
  #fig4 i,
  #fig5 i,
  #fig6 i {
    margin-top: 5px;
    font-size: 13px;
  }

  #afficherplus {
    margin-top: 8px;
    margin-bottom: -20px;
    font-size: 18px;
  }

  /*Activity*/

  #activitycontainer {
    margin-bottom: -20px;
    flex-wrap: wrap-reverse;
  }

  #activites h2 {
    font-size: 23px;
    margin-left: 28px;
    margin-top: -5px;
    margin-bottom: 5px;
  }

  #activitycontainer a {
    width: 100%;
    justify-content: center;
  }

  #activites img {
    justify-content: center;
  }

  #figact1,
  #figact4 {
    margin-top: 0px;
    margin-left: 0px;
    margin-top: 20px;
  }

  /*Footer*/

  footer {
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
  }

  #footcontainer {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
    padding-left: 0px;
  }

  #footcontainer ul {
    width: 200px;
    margin-bottom: 40px;
  }

  #footcontainer li {
    width: 100%;
    margin-top: 12px;
  }
}
