@font-face {
    font-family : ralewayregular;
    src: url(https://kit.fontawesome.com/2897f175fe.js);
    }
    
    body
    {
        font-family : ralewayregular, arial, serif;
        
        max-width : 1440px;
        
        margin: auto;
        
        width : fit-content;
        
    }
    
    #ancre
    {
        display: flex;
        flex-wrap:nowrap;
        justify-content: space-between;
        vertical-align: baseline;
    }

    ul
    {
        list-style-type: none;
        margin-left:0;
        padding-left:0;
    }

    .nav
    {
        float: left;
        text-align: center;
        padding-right: 16px;
    }