@font-face {
  font-family: ralewayregular;
  src: url(https://kit.fontawesome.com/2897f175fe.js);
}

body {
  font-family: ralewayregular, arial, serif;
  max-width: 1440px;
  margin: auto;
  width: fit-content;
}

#blockpage {
  padding-left: 20px;
  padding-right: 20px;
}

h1,
h2 {
  font-weight: bold;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 20px 10px 20px;
}

#ancre {
  display: flex;
  flex-wrap: row;
  justify-content: space-between;
}

#logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#logo img {
  width: 100px;
  height: 50px;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav li {
  margin-right: 45px;
}

nav a {
  color: black;
  text-decoration: none;
}

nav a:hover {
  color: #0065fc;
  border-top: 3px solid #0065fc;
  padding-top: 23px;
}

#inscription {
  color: #0065fc;
  font-weight: bold;
  padding-top: 16px;
}

#slogan {
  display: flex;
  flex-direction: column;
  color: black;
  font-size: 85%;
}

/*blockresearch*/

form {
  display: flex;
  border: 1px solid #f2f2f2;
  border-radius: 10px;
  width: 370px;
  height: 42px;
  margin-top: 20px;
  margin-bottom: 30px;
}

#map {
  border: 1px solid #f2f2f2;
  border-radius: 8px 0px 0px 8px;
  background-color: #f2f2f2;
  text-align: center;
  padding-top: 10px;
  width: 41px;
  height: 30px;
}

input {
  border: none;
  width: 220px;
  height: 40px;
  padding-left: 10px;
  font-weight: bold;
}

#button {
  border: none;
  background-color: #0065fc;
  border-radius: 0px 10px 10px 0px;
  color: white;
  width: 110px;
  height: 43px;
  font-weight: bold;
}

#search {
  display: none;
}

/*Filtres*/

#filtres {
  display: flex;
  flex-direction: row;
  font-weight: bold;
}

#filtres h2 {
  display: flex;
  font-size: small;
  font-weight: bold;
  align-items: center;
}

#filtres ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

#filtres li {
  padding-right: 20px;
  border: 2px solid #f2f2f2;
  border-radius: 30px;
  height: 37px;
  margin-right: 20px;
}

#filtres a {
  color: black;
  text-decoration: none;
  text-align: center;
}

#filtres i {
  color: #0065fc;
  border: 1px solid #deebff;
  border-radius: 30px;
  background-color: #deebff;
  width: 34px;
  height: 28px;
  margin-right: 10px;
}

#eco,
#child,
#heart,
#pet {
  text-align: center;
  padding-top: 7px;
}

#filtres li:hover {
  background-color: #0065fc;
  color: white;
}

#filtres i:hover {
  background-color: #deebff;
  color: #0065fc;
}

#filtres a:hover {
  color: white;
  text-decoration: none;
}

/*Infos*/

#info {
  display: flex;
  text-align: center;
  font-size: 85%;
}

#logo-info {
  color: #0065fc;
  border: 2px solid #f2f2f2;
  border-radius: 30px;
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

/*Blockpage*/

#hebergementmarseille-lespluspop {
  display: flex;
  flex-direction: row;
}

/*Block Hebergement*/

#blockheber {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  border-radius: 10px;
  margin-right: 35px;
  width: 600px;
  height: 400px;
}

#blockheber h2 {
  display: flex;
  font-size: 120%;
}

.hebercontainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

#heber1 {
  display: flex;
  background-color: white;
  border-radius: 10px;
  width: 150px;
  height: 100px;
}

#heber2 {
  display: flex;
  background-color: white;
  border-radius: 10px;
  width: 150px;
  height: 100px;
}
#heber3 {
  display: flex;
  background-color: white;
  border-radius: 10px;
  width: 150px;
  height: 100px;
}
#heber4 {
  display: flex;
  background-color: white;
  border-radius: 10px;
  width: 150px;
  height: 100px;
}
#heber5 {
  display: flex;
  background-color: white;
  border-radius: 10px;
  width: 150px;
  height: 100px;
}
#heber6 {
  display: flex;
  background-color: white;
  border-radius: 10px;
  width: 150px;
  height: 100px;
}
/*Block Les plus populaires*/

#blockpopular {
  background-color: #f2f2f2;
  border-radius: 10px;
}

#blockpopular h2 {
  display: flex;
  font-size: 120%;
}

#blockpopular i {
  margin-left: 50px;
}

/*Block Activités*/

#activites {
  width: 800px;
  height: 400px;
}

#activites h2 {
  display: flex;
  font-size: 120%;
}
